name: Build and Publish GompeiLib

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build and Test with Gradle
        run: ./gradlew build

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Delete existing package
        run: |
          # Detect if the owner is an Org or a User
          OWNER_TYPE=$(gh api /users/${{ github.repository_owner }} --jq .type)
          
          if [ "$OWNER_TYPE" == "Organization" ]; then
            ENDPOINT="orgs/${{ github.repository_owner }}/packages/maven/GompeiLib"
          else
            ENDPOINT="user/packages/maven/GompeiLib"
          fi

          echo "Attempting to delete package at: $ENDPOINT"
          
          # Delete the package
          gh api --method DELETE "$ENDPOINT" || echo "Package not found or already deleted."
        env:
          GITHUB_TOKEN: ${{ secrets.GPR_KEY }}
          
      - name: Publish to GitHub Packages
        run: ./gradlew publish
        env:
          GPR_USER: ${{ github.repository_owner }}
          GPR_KEY: ${{ secrets.GPR_KEY }}
